/* Application */
.arrows {
    cursor: pointer;
}
#arrow-container {
    text-align: center;
}
#back {
    position: fixed;
    top: 30px;
    left: 30px;
    text-decoration:none;
}
/* Cards*/
.cardside {
    background-color: white;
    text-align:center;
}
#frontside {
    padding: 15px;
}
#frontside h4 {
    margin: 0 !important;
}
#backside {
    position: relative;
    margin-top: 10px;
    padding: 15px;
}
.innercard {
    display:inline-block;
    text-align: left;
    max-width: 100%;
}
#main {
    overflow-y: auto;
    position: absolute;
    bottom: 50px;
    top: 160px;
    width: 100%;
}

/* Markdown in Cards */
