/* AREAS*/
#header {
    margin: 50px;
    text-align: center;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    right: 0;
    opacity:  0.5;
}
#main {
    text-align: center;
}
/* SETS */
.Setname {
    display:inline-block;
}
.yellow:hover {
    color: #FFCD1F !important;
}
.set-edit {
    width: 10%;
    padding: 0 5px;
    height: 100% !important;
    right: 0;
    border-radius: 0 4px 4px 0;
    position:absolute;
}
.columns {
    height: 40px;
    background-color: white;
    border-radius: 4px;
    line-height: 40px;
    font-weight: 600;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    position: relative;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.vertical-centered {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}
#addset {
    background-color: white;
}
/* Modal*/
.Modal {
    top: 30%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}
.bb {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
#card-header-level {
    margin-bottom: 10px;
}
.lowerbuttons {
    margin-top: 20px;
    margin-bottom: 0px !important;
}
input:hover {
    color: black !important;
}
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
}
#unclickable {
    background-color: rgba(51, 195, 240, 0.3);
    cursor:default;
}
